
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #1b0981;
    --bg: #3998f1;
    --br-card: #0243cf;
    --border: 0.1rem solid grey;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg);
}

header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
   
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

}

.logo img {
    height: 6.5rem;
    border-radius: 100%;

}

.ul-header {
    display: flex;
    gap: 15px;
    list-style: none;
}

.ul-header li a {
    color: white;
    font-size: 1.6rem;
}

.ul-header li a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;

}

.icons i {
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
}

.icons i:hover {
    color: var(--main-color);
}


#home {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 85vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: var(--border);
}


.caixa-01 {
    background-image: url(img/Viagem-pelo-mundo.jpg);
}

.caixa-02 {
    background-image: url(img/airplane-travel-iStock-816320482.jpg);
}

.caixa-03 {
    background-image: url(img/ROTA.jpg);
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

/*estilizando a section*/
.swiper {
    height: 50rem; /*altura da sessão*/
    position: relative;/*posição relativa em relaçao a viewport(tela)*/
}

.carousel-text {
    position: absolute;/*posiciona o elemento de forma  absoluta dentro do container pai com position : relative*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*centraliza o elemento exatamente no meio do container()*/
    color: #f9ffff;
    text-align: center;
    z-index: 10;
    background-color: #11111144;
    padding: 1.3rem;
}

.carousel-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.carousel-text p {
    font-size: 1.25rem;
}














.content {
    max-width: 60rem;
    position: relative;
    z-index: 2;
}
.h2 {
    font-size: 5rem;
}

.btn01 {
    width: 100%;
    height: 20px;
    margin-top: 1rem;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.492);
    font-size: 1.5rem;

}




.content p {
    font-size: 2rem;
    /*tamanho da fonte para pararagrafo*/
    font-weight: lighter;
    /*peso da fonte mais leve*/
    line-height: 1.8;
    /*espaçamento entre linhas */
    padding: 1rem 0;
    /*espaço interno */
    color: #fff;
    /*cor da letra*/
}

#home::before {
    content: "";
    /*adiciona pseudo-elemento vazio*/
    position: absolute;
    /*permite posicionamento absoluto*/
    top: 0;
    /*alinha o pseudo-elemento ao topo*/
    left: 0;
    /*alinha a esquerda*/
    width: 100%;
    /*ocupa toda a largura*/
    height: 100%;
    /*ocupa toda a largura */
    background: rgba(0, 0, 0, 0.5);
    /*adicionasobreposição escura */
    z-index: 1;
}

section {
    padding: 2rem 7%;
    /*garante espaçamento interno nas sessões (responsividade)*/
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    /*texto  em caixa alta */
    padding-bottom: 3rem;
    /* espaçameno inferior  em relação ao titulo*/
    font-size: 4rem;
    /*40px*/
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
    /*texto caixa alta*/
}

.btn {
    margin-top: 1rem;
    padding: 0.9rem;
    /*prenchimento interno superior e inferior */
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    display: inline-block;
    /*deixando a formação do botão e, formato de (bloco)*/
    /*https://www.w3schools.com/css/tryit.asp?
filename=trycss_inline-block_span1*/
}

.btn:hover {
    letter-spacing: 0.2rem;
    /*epaçamento entre as letras ao passar o mouse*/

}

.row {
    display: flex;
    /*define layout flexivel para os itens*/
    align-items: center;
    /*alinha os itens ao centro verticalmente*/
    background: var(--br-card);
    /*aplica uma cor de fundo aos elementos */
    flex-wrap: wrap;
    /*permite que os itens quebrem para a proxima linha se necessario*/
    border: var(--border);
    /*aplica uma borda ao redor da linha */

}

.row .imagem {
    flex: 1 1 45rem;
    /*define o tamanho flexivel do elemento; base 45rem,podendo
    crescer ou escolher, ou seja , faz com que possa ser adaptavel*/

}

.row .imagem img {
    width: 100%;
    /*faz com que a imagem ocupa toda a largura do contaner (.imagem)*/

}

.row .content {
    flex: 1 1 45rem;
    /*define o tamanho  flexivel do conteudo: base 45rem podera crescer ou diminuir*/
    padding: 2rem;
    /*adiciona espaçamento interno ao redor do conteudo*/

}

.row .content h3 {
    font-size: 3rem;
    /*define o tamanho da fonte para o subtitulo*/
    color: #fff;
}

.row .content p {
    font-size: 1.6rem;
    /*define o tamanho da fonte para o paragrafo*/
    color: #ccc;
    padding: 1rem 0;
    /*adiciona espaçamento interno vertical ao texto e as laterais zeradas */
    line-height: 1.8rem;
    /*define o espaçamento entre linhas de um texto*/
}














.container {
    display: grid;
    /*organizar os elementos internos em loyout de grade*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /*cria colunas flexiveis com largura minima de 30rem e maxima proporcional*/
    gap: 1.5rem;
    /*define o espaçamento entre os itens da grade*/

}

/*estamos estilizando as caixas (pizzas)*/
.container .box {
    padding: 5rem;
    /*adiciona espaçamento interno ao redor do conteudo da caixa*/
    text-align: center;
    /*centralizando o texto horizontamente*/
    border: var(--border);
    /* aplicando uma borda ao redor da caixa*/
    background: var(--br-card);
    /*define a cor de fundo da caixa*/
}

.container .box img {
    height: 15rem;
    /*definindo a altura da imagem*/
    border-radius: 10%;
    /*tornando a imagem circular*/

}

.container .box h2 {
    color: #fff;
    /*aplicando a cor branca ao titulo*/
    font-size: 2rem;
    /*definindo o tamanho da fonte do titulo*/
    padding: 1rem 0;
    /*adiciona espaçamento vertical ao titulo*/
}

.container .box .price {
    color: #fff;
    /*definindo a cor branca para o preço*/
    font-size: 2.5rem;
    /*defini o tamanho da fonte*/
    padding: 0.5rem 0;
    /*adiciona espaçamento*/
}

.container .box .price span {
    font-size: 1.5rem;
    /*definindo o tamanho da fonte para o preço original*/
    text-decoration: line-through;
    /*aplica uma linha para indicar preço riscado*/
    font-weight: lighter;
    /*aplica um peso de fonte mais fino*/
}

.container .box:hover {
    background: #faf8f8;

}

.container .box:hover>* {
    color: rgb(8, 8, 8);
    /*altera a cor dos elementos filhos para preto ao passa*/
}

/*Promoções*/
.products .box-container {
    display: grid;
    /*organizanod em grade*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /*cria colunas flexiveis com largura minima de 30rem e maxima proporcional*/
    gap: 1.5rem;
    /*define espaçamento entre os itens da grade */
}

.box-container .box {
    text-align: center;
    /*centralizando texto*/
    border: var(--border);
    /*aplixa uma borda ao redor da caixa */
    padding: 2rem;
    /*adiciona espaçamento interno nas caixas*/
}

/*estilizando os icons */
.icons a i {
    height: 3rem;
    /*define a altura dos icones*/
    width: 3rem;
    /*larguras dos icones*/
    line-height: 3rem;
    /*distancia dos conteudos/altura da linha */
    font-size: 1.7rem;
    /*define o tamanho da fonte para s icones*/
    border: var(--border);
    /*aplica uma borda ao redor dos icones*/
    color: #fff;
    /*define a cor branca para os icones*/
    margin: 0.3rem;
    /*adiciona espaçamento entre os icones*/

}

.box .image {
    padding: 2.5rem;
    /*adiciona espaçamento*/

}

.box .image img {
    height: 25rem;
    /*altura da imagens*/
}

.box .content {
    color: #fff;
    /*definindo a cor branca para o conteudo textual*/
    font-size: 2.5rem;
    /*definindo o tamanho da fonnte para o conteudo */
}

.box .content .stars {
    padding: 1.5rem;
    /*adicionando espaçamento ao redor das estrelas*/
}

.box .content .stars i {
    font-size: 1.9rem;
    /*tamanho das estrelas*/
    color: var(--main-color);
    /*aplicar a cor principal as estrelas */

}

.box .content .price {
    color: #fff;
    font-size: 2.5rem;
}

.box .content .price span {
    font-weight: lighter;
    /*aplicando a fonte mais fina para o texto*/
    font-size: 1.5rem;
    /*definindo o tamanho da fonte */
    text-transform: lowercase;
    /*transforma o texto adicional para lentra minusculas*/
}

.box .content h3 {
    font-size: 3rem;
}

/**/




.title-footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1, 5rem;

}

.title-footer span {
    color: var(--main-color);
    text-transform: uppercase;

}

footer {
    background: var(--bg);
    text-align: center;
    padding: 4rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 7%;
    /*add espaçamento interno na horizontal usando porcentagem*/
}

.content-1 {
    flex: 1 1 25rem;
    /*define o tamanho flexivel com largura minima de 25rem*/
    margin: 1rem;
    /*add espaçamento ao redor  do conteudo */

}

.content-1 ul {
    list-style: none;
    padding: 0;
    /*remove espaçamento interno padrão*/

}

.content-1 ul li {
    margin-bottom: 1rem;
    /*add espaçamento inferior entre os itens da lista*/

}

.content-1 ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.6rem;
}

.content-1 ul li a:hover {
    color: var(--main-color);
    transition: 0.8s;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-links a i {
    color: #ccc;
    font-size: 3rem;
}

.social-links a i:hover {
    color: var(--main-color);
    transition: 0.8s;
}

.footer-bottom {
    text-align: center;
    /*centralizar o texto*/
    padding: 1rem 0;
    /*adiciona espaçamento interno vertical*/
    font-size: 1.6rem;
    /*define o tamanho da fonte*/
    border-top: var(--border);
    /*adiciona uma borda superior*/
    margin-top: 2rem;
    /*adiona espaça acioma do rodapé*/
    color: #ccc;
    /*define a cor do texto como cinza claro*/
}


.botao-whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(9, 230, 75);
    color: white;
    border-radius:50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    z-index: 1000; 
}

.botao-whats a {
    list-style: none;
}
.botao-whats a i {
    color: aliceblue;
}


.typing {
    font-size: 28px;
    border-right: 2px solid #00ff99;
    white-space: nowrap;
    overflow: hidden;
    padding: 10rem 7%;
    background-image: url(img/aviao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
    
}

@media (max-width: 768px) {
    .ul-header {
        display: none;

    }

}
@media (max-width: 168px){
    html {
        font-size: 25%;
    }
}

